#first-box{
  background-color: black;
border: 5px solid black;
padding: 10px;

}
#second-box{

border-top:10px solid black;
  border-bottom: 10px solid black;
  padding:10px;
  margin: auto;


}

footer{
  text-align: right;
}
h4{
  font-size:12px;
}
h1{
    font-family: 'Gloria Hallelujah', cursive;
    color:black;

    font-size: 300%;
    margin-bottom:  20px;
    text-align:center;
    font-style: italic;


  }
p{
  font-family: "brush script MT"cursive;
  text-align: center;
  color:grey;

}
li{
  display:inline;
  font-size: 125%;
  margin-right:50px;
  padding:5px;

  font-family: "brush script MT"cursive;
}
ul{
  margin:10px 0px 10px 100px;
  text-align:center;
  margin: auto;
}
a{
  color:white;
  text-decoration: none;
}
